<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/styles/images.css" class="rel">

<div class="row">
    <h1 class="text-center">New Attraction</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/attractions" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="attraction[title]" id="title" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="attraction[location]" id="location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Images</label>
                <div class="form-file custom-file">
                    <input type="file" class="form-control" name="image" id="image" multiple onchange="previewMultiple(event)">
                    <label for="custom-form-label"></label>
                </div>
                <div id="formFile"></div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="attraction[description]" id="description" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Add Attraction</button>
            </div>
        </form>
        <a href="/attractions">All Attractions</a>
    
    </div>
</div>